@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-semibold;
  }
  h5 {
    @apply text-lg;
    @apply font-semibold;
  }
  h6 {
    @apply text-sm;
    @apply font-semibold;
  }
}

html,
body {
  overscroll-behavior: none;
  scroll-behavior: smooth;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #666 #333; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  background-color: #11111b;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #333;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.custom-container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 40px 96px 40px 96px;
}
